<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string>__UDID_KEY__</string>
	<key>/google/measurement/measurement_enabled_state</key>
	<integer>1</integer>
	<key>2017Deletekey</key>
	<integer>1</integer>
	<key>8039_368342044_Key_MyLastGameVersion</key>
	<string>983.3</string>
	<key>AA39BF30-44D1-462A-8E0F-8E81C15CBCB1</key>
	<string>__UDID_KEY__</string>
	<key>Analytics_LastActiveUIName</key>
	<string>UI_SystemTipCommon</string>
	<key>Analytics_LastActiveUIs</key>
	<string>90-UI_SystemTipCommon(0)</string>
	<key>Analytics_LastGameActiveUIName</key>
	<integer>90</integer>
	<key>Analytics_SecondLastActiveUIName</key>
	<string></string>
	<key>Analytics_applicationDidBecomeActiveCount</key>
	<integer>3</integer>
	<key>Analytics_applicationDidBecomeActiveEndCount</key>
	<integer>3</integer>
	<key>Analytics_applicationWillResignActiveCount</key>
	<integer>3</integer>
	<key>Analytics_applicationWillResignActiveEndCount</key>
	<integer>3</integer>
	<key>Analytics_applicationWillTerminateCount</key>
	<integer>1</integer>
	<key>Analytics_applicationWillTerminateEndCount</key>
	<integer>1</integer>
	<key>Analytics_currentAppState</key>
	<string>applicationWillTerminateEnd</string>
	<key>Analytics_didFinishLaunchingWithOptionsCount</key>
	<integer>1</integer>
	<key>Analytics_didFinishLaunchingWithOptionsEndCount</key>
	<integer>1</integer>
	<key>ApplicationChannel</key>
	<string>ios_usa</string>
	<key>AutoHuntSkill</key>
	<integer>1</integer>
	<key>ClearHighDefinitionSetUp</key>
	<integer>1</integer>
	<key>DNS_Error</key>
	<integer>0</integer>
	<key>DNS_Timeout</key>
	<integer>0</integer>
	<key>DelLoadResModuleInfoProtect</key>
	<integer>1</integer>
	<key>DownloadBackgroundIOS</key>
	<integer>1</integer>
	<key>EnableNewLoginSocket</key>
	<integer>1</integer>
	<key>EnableNewLoginTimeout</key>
	<integer>1</integer>
	<key>EnableReportServerOpt</key>
	<integer>1</integer>
	<key>GPMEnableVirtualMemory</key>
	<integer>0</integer>
	<key>GPMSDKCustomLogEnable</key>
	<integer>0</integer>
	<key>GameServerNetDataEx</key>
	<string>CD#tcp#161.202.217.184:30104-1-1-0-1:0-0</string>
	<key>GameTurboSwitchCache</key>
	<string></string>
	<key>IDFAAuthRet</key>
	<integer>1</integer>
	<key>IDFAReported</key>
	<integer>1</integer>
	<key>InstallAPK_Count_Pref</key>
	<integer>1</integer>
	<key>InstallAPK_Pref</key>
	<integer>1</integer>
	<key>IphonePath</key>
	<string>/var/mobile/Containers/Data/Application/1239CAE9-1E4A-49A6-9E21-34DE5F3092D6/Documents/dragon2017/assets/</string>
	<key>IsMinimalDevice</key>
	<integer>0</integer>
	<key>JsonDeviceID</key>
	<string>AA39BF30-44D1-462A-8E0F-8E81C15CBCB1</string>
	<key>JsonKeyForceLanRes</key>
	<string>983.3</string>
	<key>JsonKeyLanIDRecord</key>
	<integer>1</integer>
	<key>JsonLocalVersion</key>
	<string>1.9.08.983.3</string>
	<key>Key_AfterLoginReconnectNum</key>
	<integer>0</integer>
	<key>Key_BeforeLoginReconnectNum</key>
	<integer>0</integer>
	<key>Key_EnterGameTime</key>
	<integer>1</integer>
	<key>Key_EnterGameTime_Last</key>
	<integer>1</integer>
	<key>Key_LStep_OnExitGame</key>
	<integer>1</integer>
	<key>Key_LStep_OnExitGameDelta</key>
	<integer>1807</integer>
	<key>Key_LStep_OnExitGameLoginID</key>
	<integer>1</integer>
	<key>Key_LoginCloseInfo</key>
	<string></string>
	<key>Key_LoginStep_Last</key>
	<string>67;68;6;105;86;7;72;18;12;14;23;91;92;93;94;39;19;21;20;106;26;27;28;97;29;58;70;</string>
	<key>Key_LoginStuckReason_Last</key>
	<integer>7003</integer>
	<key>Key_MyLastZoneId</key>
	<integer>8039</integer>
	<key>Key_ResDirSplit</key>
	<integer>1</integer>
	<key>Key_ResDirSplit_OK</key>
	<integer>1</integer>
	<key>LoginAuth_MapConfigID</key>
	<integer>1</integer>
	<key>LoginTipTimeoutThreshold</key>
	<integer>120</integer>
	<key>MiniPatch_LastCheckResComplete_TimeStamp</key>
	<integer>1725196712</integer>
	<key>Minimal</key>
	<integer>0</integer>
	<key>NewLoginTimeoutThreshold</key>
	<integer>5</integer>
	<key>PlayNativeVideo</key>
	<integer>0</integer>
	<key>PreformanceLv</key>
	<integer>3</integer>
	<key>ResLoadSwitch</key>
	<integer>0</integer>
	<key>Shadow</key>
	<integer>1</integer>
	<key>SwitchRecorderConfigCache</key>
	<string></string>
	<key>UnityGraphicsQuality</key>
	<integer>1</integer>
	<key>_Analysis_forceKilled_Application_</key>
	<integer>1</integer>
	<key>_CHECK_GCMAXTIMESLICE_</key>
	<string></string>
	<key>_CrashTags_</key>
	<string>{"region_id":"8","crash_scene":"Loading"}</string>
	<key>__GSDK_CachedDID__</key>
	<string>7409662655947900422</string>
	<key>__IDFA_KEY__</key>
	<string>AA39BF30-44D1-462A-8E0F-8E81C15CBCB1</string>
	<key>__IDFA_UNITY__</key>
	<string>AA39BF30-44D1-462A-8E0F-8E81C15CBCB1</string>
	<key>__LOGIN_WITH_MOONTON_ACCOUNT_SCUEESS__</key>
	<integer>1</integer>
	<key>__LastPatchNoDiffVersion__</key>
	<string>983.3</string>
	<key>__PlayerAccountIdReportCache__</key>
	<string>368342044</string>
	<key>__PlayerZoneIdReportCache__</key>
	<string>8039</string>
	<key>__ResourcesExtractReporter_UUID__</key>
	<string>ios_usa&amp;f4588c7a-6131-4c41-a683-2b068703a541</string>
	<key>__Resources_UnzipTimestamp__</key>
	<string>1725196711</string>
	<key>__UDID_KEY__</key>
	<string>AA39BF30-44D1-462A-8E0F-8E81C15CBCB1</string>
	<key>___udav_ios</key>
	<integer>0</integer>
	<key>_kLastSystemTipsMsg_</key>
	<string>عزيزي المحارب، لقد ت</string>
	<key>_recordingINLA</key>
	<integer>0</integer>
	<key>adj_adservices_tracked</key>
	<true/>
	<key>adj_install_tracked</key>
	<true/>
	<key>adj_skad_register_call_time</key>
	<date>2024-09-01T13:18:36Z</date>
	<key>bVeryHighQuality</key>
	<integer>0</integer>
	<key>beUseIntPtrInActivity</key>
	<integer>0</integer>
	<key>checkcpustate</key>
	<integer>1</integer>
	<key>com.facebook.sdk.kits.bitmask</key>
	<integer>9</integer>
	<key>com.facebook.sdk:FBSDKAppEventsConfiguration</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwVVSRudWxs1A0ODxAREhMR
	XxAgYWR2ZXJ0aXNlcl9pZF9jb2xsZWN0aW9uX2VuYWJsZWRfEBJkZWZhdWx0X2F0ZV9z
	dGF0dXNWJGNsYXNzXxAYZXZlbnRfY29sbGVjdGlvbl9lbmFibGVkCRACgAIJ0hYXGBla
	JGNsYXNzbmFtZVgkY2xhc3Nlc18QG0ZCU0RLQXBwRXZlbnRzQ29uZmlndXJhdGlvbqIa
	G18QG0ZCU0RLQXBwRXZlbnRzQ29uZmlndXJhdGlvblhOU09iamVjdAAIABEAGgAkACkA
	MgA3AEkATABRAFMAVwBdAGYAiQCeAKUAwADBAMMAxQDGAMsA1gDfAP0BAAEeAAAAAAAA
	AgEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAASc=
	</data>
	<key>com.facebook.sdk:FBSDKAppEventsConfigurationTimestamp</key>
	<date>2024-09-01T13:18:24Z</date>
	<key>com.facebook.sdk:FBSDKIsSkAdNetworkInstallReported</key>
	<true/>
	<key>com.facebook.sdk:FBSDKSKAdNetworkConversionConfiguration</key>
	<dict>
		<key>data</key>
		<array/>
	</dict>
	<key>com.facebook.sdk:FBSDKSettingsBitmask</key>
	<integer>6</integer>
	<key>com.facebook.sdk:FBSDKSettingsInstallTimestamp</key>
	<date>2024-09-01T13:18:23Z</date>
	<key>com.facebook.sdk:GateKeepers1591956834435357</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEDgLDHl6e3x9fn+AgYKDhIWG
	h4iJiouMjY6PkJGSk5SVlpeYmZqbnJ2en6ChoqOkpaanqKmqq6ytrlUkbnVsbNMNDg8Q
	RHhXTlMua2V5c1pOUy5vYmplY3RzViRjbGFzc68QMxESExQVFhcYGRobHB0eHyAhIiMk
	JSYnKCkqKywtLi8wMTIzNDU2Nzg5Ojs8PT4/QEFCQ4ACgAOABIAFgAaAB4AIgAmACoAL
	gAyADYAOgA+AEIARgBKAE4AUgBWAFoAXgBiAGYAagBuAHIAdgB6AH4AggCGAIoAjgCSA
	JYAmgCeAKIApgCqAK4AsgC2ALoAvgDCAMYAygDOANK8QM0VGRkZFRUVGRUZFRkVFRkVF
	RkVGRkVFRUVGRkZFRkVFRUZGRUVGRkZGRkZGRkVGRUVGRYA1gDaANoA2gDWANYA1gDaA
	NYA2gDWANoA1gDWANoA1gDWANoA1gDaANoA1gDWANYA1gDaANoA2gDWANoA1gDWANYA2
	gDaANYA1gDaANoA2gDaANoA2gDaANoA1gDaANYA1gDaANYA3XxAYRkJTREtGZWF0dXJl
	UElJRmlsdGVyaW5nXxAiRkJTREtGZWF0dXJlQWRkcmVzc0RldGVjdGlvblNhbXBsZV8Q
	I0ZCU0RLRmVhdHVyZVNlcnZpY2VVcGRhdGVDb21wbGlhbmNlXxAURkJTREtGZWF0dXJl
	TWVnYXRyb25fECFGQlNES0ZlYXR1cmVGaWx0ZXJTZW5zaXRpdmVQYXJhbXNfEA9GQlNE
	S0ZlYXR1cmVBQU1fECRGQlNES0ZlYXR1cmVSZXN0cmljdGl2ZURhdGFGaWx0ZXJpbmdf
	EBZGQlNES0ZlYXR1cmVNb25pdG9yaW5nXxAaRkJTREtGZWF0dXJlQ29kZWxlc3NFdmVu
	dHNfEBtGQlNES0ZlYXR1cmVJbnRlZ3JpdHlTYW1wbGVfEBZGQlNES0ZlYXR1cmVJQVBM
	b2dnaW5nXxAgRkJTREtGZWF0dXJlSW50ZWxsaWdlbnRJbnRlZ3JpdHlfEBhGQlNES0Zl
	YXR1cmVNb2RlbFJlcXVlc3RfEBZGQlNES0ZlYXR1cmVVc2hiYUxvZ2luXxAXRkJTREtG
	ZWF0dXJlRXJyb3JSZXBvcnRfECJGQlNES0ZlYXR1cmVXZWJWaWV3U2NoZW1lRmlsdGVy
	aW5nXxAPRkJTREtGZWF0dXJlQUVNXxAXRkJTREtGZWF0dXJlVGhyZWFkQ2hlY2tfECJG
	QlNES0ZlYXR1cmVBRU1Db252ZXJzaW9uRmlsdGVyaW5nXxARRkJTREtGZWF0dXJlRWxv
	cmFfEBthcHBfZXZlbnRzX2lmX2F1dG9fbG9nX3N1YnNfEBZGQlNES0ZlYXR1cmVJbnN0
	cnVtZW50XxAbRkJTREtGZWF0dXJlQXBwQWVtQXV0b1NldFVwXxAbRkJTREtGZWF0dXJl
	QmxvY2tsaXN0RXZlbnRzXxAXRkJTREtGZWF0dXJlQ3Jhc2hTaGllbGRfEBtGQlNES0Zl
	YXR1cmVTdWdnZXN0ZWRFdmVudHNfEBlGQlNES0ZlYXR1cmVQcm90ZWN0ZWRNb2RlXxAg
	RkJTREtGZWF0dXJlQXBwQWVtQXV0b1NldFVwUHJveHlfEBdGQlNES0ZlYXR1cmVTS0Fk
	TmV0d29ya18QEUZCU0RLRmVhdHVyZUFBTVIxXxAXRkJTREtGZWF0dXJlQ3Jhc2hSZXBv
	cnRfEBpGQlNES0ZlYXR1cmVJQVBMb2dnaW5nTGliMl8QKkZCU0RLRmVhdHVyZUFFTUFk
	dmVydGlzZXJSdWxlTWF0Y2hJblNlcnZlcl8QEUZCU0RLRmVhdHVyZUFBTVIyXxAcRkJT
	REtGZWF0dXJlTUFDQVJ1bGVNYXRjaGluZ18QFkZCU0RLRmVhdHVyZUFURUxvZ2dpbmdf
	ECJGQlNES0ZlYXR1cmVDaHJvbWVDdXN0b21UYWJzVXBkYXRlXxAZRkJTREtGZWF0dXJl
	U0tBZE5ldHdvcmtWNF8QJ0ZCU0RLRmVhdHVyZUNocm9tZUN1c3RvbVRhYnNQcmVmZXRj
	aGluZ18QIEZCU0RLRmVhdHVyZUZpbHRlclJlZGFjdGVkRXZlbnRzXxAeRkJTREtGZWF0
	dXJlQUVNQ2F0YWxvZ01hdGNoaW5nXxAVYXBwX2V2ZW50c19raWxsc3dpdGNoXxAgRkJT
	REtGZWF0dXJlQXBwRXZlbnRzQ2xvdWRicmlkZ2VfEBVGQlNES0ZlYXR1cmVBbnJSZXBv
	cnRfECNGQlNES0ZlYXR1cmVPbkRldmljZUV2ZW50UHJvY2Vzc2luZ18QHUZCU0RLRmVh
	dHVyZUV2ZW50RGVhY3RpdmF0aW9uXxAuRkJTREtGZWF0dXJlT25EZXZpY2VQb3N0SW5z
	dGFsbEV2ZW50UHJvY2Vzc2luZ18QJkZCU0RLRmVhdHVyZVNLQWROZXR3b3JrQ29udmVy
	c2lvblZhbHVlXxAQRkJTREtGZWF0dXJlTVRNTF8QG0ZCU0RLRmVhdHVyZUJ5cGFzc0Fw
	cFN3aXRjaF8QHUZCU0RLRmVhdHVyZVByaXZhY3lQcm90ZWN0aW9uCQjSr7CxslokY2xh
	c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxlRGljdGlvbmFyeaOztLVfEBNOU011dGFi
	bGVEaWN0aW9uYXJ5XE5TRGljdGlvbmFyeVhOU09iamVjdAAIABEAGgAkACkAMgA3AEkA
	TABRAFMAjgCUAJsAowCuALUA6wDtAO8A8QDzAPUA9wD5APsA/QD/AQEBAwEFAQcBCQEL
	AQ0BDwERARMBFQEXARkBGwEdAR8BIQEjASUBJwEpASsBLQEvATEBMwE1ATcBOQE7AT0B
	PwFBAUMBRQFHAUkBSwFNAU8BUQGHAYkBiwGNAY8BkQGTAZUBlwGZAZsBnQGfAaEBowGl
	AacBqQGrAa0BrwGxAbMBtQG3AbkBuwG9Ab8BwQHDAcUBxwHJAcsBzQHPAdEB0wHVAdcB
	2QHbAd0B3wHhAeMB5QHnAekB6wHtAe8CCgIvAlUCbAKQAqICyQLiAv8DHQM2A1kDdAON
	A6cDzAPeA/gEHQQxBE8EaASGBKQEvgTcBPgFGwU1BUkFYwWABa0FwQXgBfkGHgY6BmQG
	hwaoBsAG4wb7ByEHQQdyB5sHrgfMB+wH7QfuB/MH/ggHCB0IIQg3CEQAAAAAAAACAQAA
	AAAAAAC2AAAAAAAAAAAAAAAAAAAITQ==
	</data>
	<key>com.facebook.sdk:domainConfiguration</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBgLDBMhIiMkJS0uLzA2Pj9J
	SktMTVVWWl1VJG51bGzTDQ4PEBESWmRvbWFpbkluZm9WJGNsYXNzWXRpbWVzdGFtcIAC
	gBeAFdMUFQ4WGyBXTlMua2V5c1pOUy5vYmplY3RzpBcYGRqAA4AEgAWABqQcHR4fgAeA
	DIAOgBOAC18QHmN1c3RvbV9hdWRpZW5jZV90aGlyZF9wYXJ0eV9pZFphY3Rpdml0aWVz
	XmRlZmF1bHRfY29uZmlnXxAUYXBwX2luZGV4aW5nX3Nlc3Npb27TFBUOJikgoicogAiA
	CaIqKoAKgAqAC18QGWF0dF9vcHRfb3V0X2RvbWFpbl9wcmVmaXhfEBhhdHRfb3B0X2lu
	X2RvbWFpbl9wcmVmaXhTZXAx0jEyMzRaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rp
	b25hcnmiMzVYTlNPYmplY3TTFBUONzogoicogAiACaI7KoANgAqAC1NlcDLTFBUOQEQg
	o0FCQ4APgBCAEaMqO0eACoANgBKAC18QIWRlZmF1bHRfYWx0ZXJuYXRpdmVfZG9tYWlu
	X3ByZWZpeF8QFWRlZmF1bHRfZG9tYWluX3ByZWZpeF8QGWVuYWJsZV9mb3JfZWFybHlf
	dmVyc2lvbnMI0xQVDk5RIKInUIAIgBSiKiqACoAKgAtfEBhhdHRfb3B0X2luX2RvbWFp
	bl9wcmVmaXjSVw5YWVdOUy50aW1lI0HGQlCP1KyOgBbSMTJbXFZOU0RhdGWiWzXSMTJe
	X18QGEZCU0RLRG9tYWluQ29uZmlndXJhdGlvbqJgNV8QGEZCU0RLRG9tYWluQ29uZmln
	dXJhdGlvbgAIABEAGgAkACkAMgA3AEkATABRAFMAbgB0AHsAhgCNAJcAmQCbAJ0ApACs
	ALcAvAC+AMAAwgDEAMkAywDNAM8A0QDTAPQA/wEOASUBLAEvATEBMwE2ATgBOgE8AVgB
	cwF3AXwBhwGQAZ0BoAGpAbABswG1AbcBugG8Ab4BwAHEAcsBzwHRAdMB1QHZAdsB3QHf
	AeECBQIdAjkCOgJBAkQCRgJIAksCTQJPAlECbAJxAnkCggKEAokCkAKTApgCswK2AAAA
	AAAAAgEAAAAAAAAAYQAAAAAAAAAAAAAAAAAAAtE=
	</data>
	<key>com.facebook.sdk:lastATEPing1591956834435357</key>
	<date>2024-09-01T13:18:24Z</date>
	<key>com.facebook.sdk:lastAttributionPing1591956834435357</key>
	<date>2024-09-01T13:18:23Z</date>
	<key>com.facebook.sdk:lastInstallResponse1591956834435357</key>
	<dict>
		<key>success</key>
		<true/>
	</dict>
	<key>com.facebook.sdk:serverConfiguration1591956834435357</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxBbAAsADABF
	AEYARwBIAE4AVABcAF0AXgBmAGcAMAAsAGoAcAB0AIgAiQCKAIsAjACNAI4AjwCQAJYA
	lwChAKIApwCoAKkArACtAK4AsgC2ALwAwgDIAM4AzwDTANQA1QDbAOEA5wDtAPMA+QD6
	AP4A/wEAAQYBDAESARgBHAEgASMBKwEsAS0BNQE2ATcBOAE5AUEBQgFDAUsBTAFNAVAB
	WAFZAVoBXgFmAWcBaAFpAW0BbgF0AXVVJG51bGzfEBwADQAOAA8AEAARABIAEwAUABUA
	FgAXABgAGQAaABsAHAAdAB4AHwAgACEAIgAjACQAJQAmACcAKAApACoAKwAsAC0ALgAv
	ADAAKwArADMAKwAsACsANwArADkAOgAsADwAPQA+ADAAMABBACsAQwBEXGVycm9yQ29u
	Zmlnc18QFnNlc3Npb25UaW1lb3V0SW50ZXJ2YWxcbG9nZ2luZ1Rva2VuXxAUYWR2ZXJ0
	aXNpbmdJREVuYWJsZWRYQUFNUnVsZXNdZGlhbG9nQ29uZmlnc18QFW1pZ3JhdGVkQXV0
	b0xvZ1ZhbHVlc18QE2xvZ2luVG9vbHRpcEVuYWJsZWRfEBFyZXN0cmljdGl2ZVBhcmFt
	c18QEFNES1VwZGF0ZU1lc3NhZ2VWJGNsYXNzXxAac21hcnN0TG9naW5Cb29rbWFya0lj
	b25VUkxfEB5pbXBsaWNpdFB1cmNoYXNlTG9nZ2luZ0VuYWJsZWRfEBpzbWFyc3RMb2dp
	bkJvb2ttYXJrTWVudVVSTF8QEXNtYXJ0TG9naW5FbmFibGVkXWV2ZW50QmluZGluZ3Nf
	EBBkZWZhdWx0U2hhcmVNb2RlV3ZlcnNpb25fEBZpbXBsaWNpdExvZ2dpbmdFbmFibGVk
	V2FwcE5hbWVfEBJwcm90ZWN0ZWRNb2RlUnVsZXNZdGltZXN0YW1wXxAYdHJhY2tBcHBV
	bmluc3RhbGxFbmFibGVkXxAVY29kZWxlc3NFdmVudHNFbmFibGVkXxAWc3VnZ2VzdGVk
	RXZlbnRzU2V0dGluZ18QEGxvZ2luVG9vbHRpcFRleHRbZGlhbG9nRmxvd3NVYXBwSUSA
	ECNATgAAAAAAAIAACYA/gAWAWAiAAIAAgFqAAAmAABAAgACABBADCYADgE6APQgIgEqA
	AIAHgAJfEBAxNTkxOTU2ODM0NDM1MzU3XxAZTW9iaWxlIExlZ2VuZHM6IEJhbmcgQmFu
	Z1tzaGFyZV9zaGVldNMASQBKABcASwBMAE1XTlMua2V5c1pOUy5vYmplY3RzoKCABtIA
	TwBQAFEAUlokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFyeaIAUQBTWE5TT2Jq
	ZWN00wBJAEoAFwBVAFgATaIAVgBXgAiACaIAWQBagAqAD4AGV2RlZmF1bHRXbWVzc2Fn
	ZdMASQBKABcAXwBiAE2iAGAAYYALgAyiAGMAZIANgA6ABl8QD3VzZV9uYXRpdmVfZmxv
	d111c2Vfc2FmYXJpX3ZjCAnTAEkASgAXAGsAbQBNoQBggAuhAGSADoAG0gBxABcAcgBz
	XxAXY29uZmlndXJhdGlvbkRpY3Rpb25hcnmAEYA80wBJAEoAFwB1AH4Ah6gAdgB3AHgA
	eQB6AHsAfAB9gBKAE4AUgBWAFoAXgBiAGagAfwCAAIEAggCDAIQAhQCGgBqAJoAogC6A
	MIAygDiAOoAlUzE5MFMxMDJRNFE5UjE3UTFTMzQxUTLTAEkASgAXAJEAkwCHoQCSgBuh
	AJSAHIAlUSrVABcAmACZAJoAmwCcAJ0AngCfAKBXb3B0aW9uc1tkZXNjcmlwdGlvblhj
	YXRlZ29yeVZhY3Rpb26AJIAegB2AIoAjXxBCUGxlYXNlIGxvZyBpbnRvIHRoaXMgYXBw
	IGFnYWluIHRvIHJlY29ubmVjdCB5b3VyIEZhY2Vib29rIGFjY291bnQu0gBKABcAowCm
	ogCkAKWAH4AggCFST0tWQ2FuY2Vs0gBPAFAAqgCrV05TQXJyYXmiAKoAUxACVWxvZ2lu
	0gBPAFAArwCwXxAfRkJTREtFcnJvclJlY292ZXJ5Q29uZmlndXJhdGlvbqIAsQBTXxAf
	RkJTREtFcnJvclJlY292ZXJ5Q29uZmlndXJhdGlvbtIATwBQALMAtF8QE05TTXV0YWJs
	ZURpY3Rpb25hcnmjALUAUQBTXxATTlNNdXRhYmxlRGljdGlvbmFyedMASQBKABcAtwC5
	AIehAJKAG6EAuoAngCXVABcAmACZAJoAmwCcAJ0AngCfAKCAJIAegB2AIoAj0wBJAEoA
	FwDDAMUAh6EAkoAboQDGgCmAJdUAFwCYAJkAmgCbAJwAygDLAMwAzYAkgCuAKoAsgC1f
	EDFUaGUgc2VydmVyIGlzIHRlbXBvcmFyaWx5IGJ1c3ksIHBsZWFzZSB0cnkgYWdhaW4u
	0gBKABcA0ACmoQCkgB+AIRABWXRyYW5zaWVudNMASQBKABcA1gDYAIehAJKAG6EA2YAv
	gCXVABcAmACZAJoAmwCcAMoAywDMAM2AJIArgCqALIAt0wBJAEoAFwDiAOQAh6EAkoAb
	oQDlgDGAJdUAFwCYAJkAmgCbAJwAygDLAMwAzYAkgCuAKoAsgC3TAEkASgAXAO4A8ACH
	oQCSgBuhAPGAM4Al1QAXAJgAmQCaAJsAnAD1APYAzAD4gCSANYA0gCyAN18QMVRoZSBz
	ZXJ2ZXIgaXMgdGVtcG9yYXJpbHkgYnVzeSwgcGxlYXNlIHRyeSBhZ2Fpbi7SAEoAFwD7
	AKahAPyANoAhUk9LWXRyYW5zaWVudNMASQBKABcBAQEDAIehAJKAG6EBBIA5gCXVABcA
	mACZAJoAmwCcAMoAywDMAM2AJIArgCqALIAt0wBJAEoAFwENAQ8Ah6EAkoAboQEQgDuA
	JdUAFwCYAJkAmgCbAJwAygDLAMwAzYAkgCuAKoAsgC3SAE8AUAEZARpfEBdGQlNES0Vy
	cm9yQ29uZmlndXJhdGlvbqIBGwBTXxAXRkJTREtFcnJvckNvbmZpZ3VyYXRpb27SAR0A
	FwEeAR9XTlMudGltZSNBxkJQkAnJeYA+0gBPAFABIQEiVk5TRGF0ZaIBIQBT0wBJAEoA
	FwEkAScATaIBJQEmgECAQaIBKAEpgEKAR4AGUnIxUnIy0wBJAEoAFwEuATEATaIBLwEw
	gEOARKIBMgEzgEWARoAGUWtRdl8QHmVtYWlsLGUtbWFpbCxlbSxlbGVjdHJvbmljbWFp
	bF8QMl4oW0EtWjAtOWEtei5fJSstXStAW0EtWmEtejAtOS4tXStcLltBLVphLXpdezIs
	fSkk0wBJAEoAFwE6AT0ATaIBLwEwgEOARKIBPgE/gEiASYAGXxAUcGhvbmUsbW9iaWxl
	LGNvbnRhY3RfEA9eKFswLTldezUsMTV9KSTTAEkASgAXAUQBRwBNogFFAUaAS4BMogFI
	AUiATYBNgAZfEBFwcm9kdWN0aW9uX2V2ZW50c18QHmVsaWdpYmxlX2Zvcl9wcmVkaWN0
	aW9uX2V2ZW50c9IASgAXAU4ApqCAIdMASQBKABcBUQFUAE2iAVIBU4BPgFCiAUgBVoBN
	gFGABl8QEGJsb2NrbGlzdF9ldmVudHNfEBBzZW5zaXRpdmVfcGFyYW1z0gBKABcBWwCm
	oQFcgFKAIdMASQBKABcBXwFiAE2iAWABYYBTgFSiAWMBZIBVgFaABlNrZXlVdmFsdWVf
	EBZmYl9zaGFyZV9kaWFsb2dfcmVzdWx00gBKABcBagCmoQFrgFeAIV8QEVsiZXJyb3Jf
	bWVzc2FnZSJd0wBJAEoAFwFvAXEATaEBcIBZoQBkgA6ABl8QG2F1dG9fbG9nX2FwcF9l
	dmVudHNfZGVmYXVsdNIATwBQAXYBd18QGEZCU0RLU2VydmVyQ29uZmlndXJhdGlvbqIB
	eABTXxAYRkJTREtTZXJ2ZXJDb25maWd1cmF0aW9uAAgAGQAiACwAMQA6AD8AUQBWAFsA
	XQEWARwBjwGcAbUBwgHZAeIB8AIIAh4CMgJFAkwCaQKKAqcCuwLJAtwC5AL9AwUDGgMk
	Az8DVwNwA4MDjwOVA5cDoAOiA6MDpQOnA6kDqgOsA64DsAOyA7MDtQO3A7kDuwO9A74D
	wAPCA8QDxQPGA8gDygPMA84D4QP9BAkEFgQeBCkEKgQrBC0ENgRBBEoEVwRcBGUEcgR3
	BHkEewSABIIEhASGBI4ElgSjBKgEqgSsBLEEswS1BLcEyQTXBNgE2QTmBOkE6wTuBPAE
	8gT7BRUFFwUZBSYFNwU5BTsFPQU/BUEFQwVFBUcFWAVaBVwFXgVgBWIFZAVmBWgFagVu
	BXIFdAV2BXkFewV/BYEFjgWRBZMFlgWYBZoFnAWxBbkFxQXOBdUF1wXZBdsF3QXfBiQG
	LQYyBjQGNgY4BjsGQgZLBlMGWAZaBmAGaQaLBpAGsga7BtEG2AbuBvsG/gcABwMHBQcH
	BxwHHgcgByIHJAcmBzMHNgc4BzsHPQc/B1QHVgdYB1oHXAdeB5IHmweeB6AHogekB64H
	uwe+B8AHwwfFB8cH3AfeB+AH4gfkB+YH8wf2B/gH+wf9B/8IFAgWCBgIGggcCB4IKwgu
	CDAIMwg1CDcITAhOCFAIUghUCFYIigiTCJYImAiaCJ0Ipwi0CLcIuQi8CL4IwAjVCNcI
	2QjbCN0I3wjsCO8I8Qj0CPYI+AkNCQ8JEQkTCRUJFwkgCToJPwlZCWIJaglzCXUJfgmF
	CYoJlwmcCZ4JoAmlCacJqQmrCa4JsQm+CcMJxQnHCcwJzgnQCdIJ1AnWCfcKLAo5Cj4K
	QApCCkcKSQpLCk0KZAp2CoMKiAqKCowKkQqTCpUKlwqrCswK1QrWCtgK5QrqCuwK7grz
	CvUK9wr5CwwLHwsoCysLLQsvCzwLQQtDC0ULSgtMC04LUAtUC1oLcwt8C38LgQuDC5cL
	pAunC6kLrAuuC7ALzgvXC/IL9wAAAAAAAAICAAAAAAAAAXkAAAAAAAAAAAAAAAAAAAwS
	</data>
	<key>computerskinning-opti</key>
	<integer>0</integer>
	<key>disable-android-pvr-blit</key>
	<integer>0</integer>
	<key>egl-config-context</key>
	<integer>0</integer>
	<key>elvaUuid</key>
	<string>A0D3928C-CFE4-4ED2-972F-BFA3FA94D976</string>
	<key>enable-egl-config-context </key>
	<integer>0</integer>
	<key>enable-empty-mesh-culling</key>
	<integer>0</integer>
	<key>enable-swapbuffer-callbacks</key>
	<integer>0</integer>
	<key>enable-swapbuffer-finish</key>
	<integer>0</integer>
	<key>force-invalidate-depth-stencil</key>
	<integer>0</integer>
	<key>gfx-device-waitfor-present-sync-point</key>
	<integer>0</integer>
	<key>gfx-enable-gfx-jobs</key>
	<integer>0</integer>
	<key>gfx-enable-native-gfx-jobs</key>
	<integer>0</integer>
	<key>il2cpp_lazy_load</key>
	<integer>0</integer>
	<key>job_num</key>
	<integer>0</integer>
	<key>kOldDeviceIDStorageKey</key>
	<string>7409662655947900422</string>
	<key>kTTInstallAppVersion</key>
	<string>1.9.08</string>
	<key>kTTInstallServiceAppVersion</key>
	<string>1.9.08</string>
	<key>kTTInstallServiceChannel</key>
	<string>ios_usa</string>
	<key>kTTInstallServiceLastRequestTime</key>
	<date>2024-09-01T13:18:33Z</date>
	<key>kUserDefaultDAURecordKey</key>
	<string>٢٠٢٤/٠٩/٠١</string>
	<key>m_CacheLoginUID</key>
	<integer>1</integer>
	<key>mapping_table_identifier</key>
	<string>9CF3A08131914733A0CA49C2305D8493</string>
	<key>newcoldstart_cpp_login</key>
	<integer>2</integer>
	<key>newcoldstart_cppcopyloadso4java</key>
	<integer>2</integer>
	<key>newcoldstart_mainctrl</key>
	<integer>2</integer>
	<key>newcoldstart_pre_engine</key>
	<integer>2</integer>
	<key>ps_alpha_clip_less_value</key>
	<integer>0</integer>
	<key>ps_enable_update_on_demand</key>
	<integer>0</integer>
	<key>ps_looping_alpha_clip_less_value</key>
	<integer>0</integer>
	<key>stack_size</key>
	<integer>0</integer>
	<key>transform-increase</key>
	<integer>200</integer>
	<key>unity.player_session_count</key>
	<string>1</string>
	<key>unity.player_sessionid</key>
	<string>4213695013310480498</string>
	<key>use-24bit-insteadof-32bit-displayBuffer</key>
	<integer>0</integer>
</dict>
</plist>
